# Build output
dist/
*.apk

# Keys
keys/

# abuild artifacts
*/src/
*/pkg/
*/.PKGINFO
*/.SIGN.*

# Editor
.vscode/
*.swp
*~

# macOS
.DS_Store

# abuild output
packages/*/src/
# we now use VELBUILD
packages/*/APKBUILD
packages/*/*.pre-install
packages/*/*.post-install
packages/*/*.pre-upgrade
packages/*/*.post-upgrade
packages/*/*.pre-os-upgrade
packages/*/*.post-os-upgrade
packages/*/*.pre-deinstall
packages/*/*.post-deinstall
packages-metadata.json
tmp.json
